@import '../../index.scss';
.channel {
    width: 100%;
    flex-direction: column;
    color: $white;
    max-height: 100vh;
}

.channel-header {
    padding: 12px 16px;
    border-bottom: 1px solid $primary-background-color-darker;
    box-shadow: 0 2px 2px -2px $primary-background-color-darker;
    .hash-icon-wrapper {
        color: #8e9297;
        font-size: 24px;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
        margin-top: -4px;
    }
}

.toolbar {
    color: #B9BBBE;
    font-size: 22px;
    cursor: pointer;
    align-items: center;
    .toolbar-item {
        padding: 0px 6px;
        &:hover {
            color: $primary-muted-color;
        }
        .help-icon {
            font-size: 24px;
        }
    }
}

.search-input-group {
    padding: 0px 4px;
    input[type=text] {
        width: 150px;
        background-color: $primary-background-color-darker;
        position: relative;
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
        outline: none;
        &:focus {
            color: $white;
            width: 22em;
        }
    }
}

.search-icon {
    font-size: 14px;
    position: relative;
    top: 6px;
    left: -12px;
}