@import '../../index.scss';
.navbar {
    height: 100vh;
    width: 72px;
    color: $white;
    background-color: $primary-background-color-darker;
    padding-top: 12px;
    cursor: pointer;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .list-item {
        position: relative;
        &:hover .icon-wrapper {
            border-radius: 16px;
            color: $white;
            background-color: $primary-color;
        }
        &:hover .vertical-line-divider {
            opacity: 1;
            height: 20px;
            top: 14px;
        }
        &:hover .server-img {
            border-radius: 16px;
        }
        .vertical-line-divider {
            opacity: 0;
        }
        .icon-wrapper {
            color: $primary-muted-color;
            background-color: $primary-background-color;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            min-height: 48px;
            margin: 0 auto 8px auto;
            border-radius: 100%;
            &:active {
                position: relative;
                top: 2px;
            }
            .server-img {
                width: 48px;
                height: 48px;
                margin: 0;
                padding: 0;
                border-radius: 100%;
                transition: all 0.2s;
            }
        }
        .selected {
            border-radius: 16px;
            color: $white;
            background-color: $primary-color;
        }
        .server-add {
            color: $secondary-color;
            &:hover {
                background-color: $secondary-color;
                color: $white;
            }
        }
    }
}